<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TBLA_NHAPaymentProcessor.My.MySettings.ConnectionString"
            connectionString="Data Source=DESKTOP-S3FKS53\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TBLA_NHAPaymentProcessor.My.MySettings.NHALoanModuleConnectionString"
            connectionString="Data Source=DESKTOP-S3FKS53\SQLEXPRESS;Initial Catalog=NHALoanModule;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>